@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
}
input[type='text'] , input[type='number'] , input[type='password'] , input[type='email']{
    outline : none;
    margin-left : auto;
    margin-right : auto;
    margin-top: 1em;
    margin-bottom : 1em;
    display: block;
    width : 80%;
    padding-left:1em;
    height: 2.5em;
    font-size: 0.9em;
    font-family: 'Montserrat', sans-serif;

    -webkit-box-shadow: 5px 3px 25px -9px rgba(47,75,38,1);
    -moz-box-shadow: 5px 3px 25px -9px rgba(47,75,38,1);
    box-shadow: 5px 3px 25px -9px rgba(47,75,38,1);

    border : none;
}

.btn {
    background-color: #CBFF4D;
    color : #545454;
    text-decoration: none;
    padding : 0.7em;
    margin : 0.4em;

}


   
  .fullscreen-enabled {
    background: #fff;
  }